@charset "UTF-8";
/* ====================================================== */
/* CSS setting for the whole Website                      */
/* ====================================================== */

/* ================================== */
/* The whole page                     */
/* ================================== */

body * {
  color: #737373;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pageBody {
  position: relative;
  width: calc(100% * 0.96);
  margin: 6vw auto 5vw;
  padding: 2vw;
  box-sizing: border-box;
  perspective-origin: top;
  background: repeating-linear-gradient(90deg, rgba(201, 201, 201, 1.00), rgba(201, 201, 201, 1.00) 3px, rgba(238,211,191,1.00) 3px, rgba(238,211,191,1.00) 23px, rgba(201, 201, 201, 1.00) 23px, rgba(201, 201, 201, 1.00) 26px, rgba(255,255,255,1.00) 26px, rgba(255, 255, 255, 1.00) 46px, rgba(201, 201, 201, 1.00) 46px, rgba(201, 201, 201, 1.00) 49px, rgba(238,211,191,1.00) 49px, rgba(238,211,191,1.00) 69px, rgba(201, 201, 201, 1.00) 69px, rgba(201, 201, 201, 1.00) 72px, rgba(255, 255, 255, 1.00) 72px, rgba(255, 255, 255, 1.00) 92px);
  border: solid 1px #9B9B9B; /* required as a dummy */
  border-image: url(../images/border.svg);
  border-image-slice: 21 fill;
  border-image-width: 5vmin;
  border-image-repeat: stretch;
  }

* h1, * h2, * p, * li, * a, * time, * small, * text, #year {
  font-family: "Helvetica Neue", Arial, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  line-height: 1.75;
  vertical-align: bottom;
  /* -webkit-text-size-adjust: none; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

* ul {
  list-style: none;
}

* img {
  vertical-align: bottom;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -webkit-touch-callout: none;
}

::-moz-selection {
  background: transparent;
  color: #9B9B9B;
  text-shadow: 3px 3px 3px #737373;
}

::selection {
  background: transparent;
  color: #9B9B9B;
  text-shadow: 3px 3px 3px #737373;
}

/* ================================== */
/* jQuery animation                   */
/* ================================== */

* .hidden, * .hidden01 {
  display: none;
}

 /* Caution! Due to ＃pageMain's setting, doesn't work 'position:fixed' property */
#pageMain {
  transform: scale(0.95);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 0;
}

@keyframes fade-in {
  0% {transform: scale(0.95); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes fade-out {
  0% {transform: scale(1); opacity: 1;}
  100% {transform: scale(0.95); opacity: 0;}
}

.fade-in {
  animation: fade-in 1s ease forwards ;
}

.fade-out {
  animation: fade-out 1s ease none;
}

/* ================================= */
/* Title of the Web site             */
/* ================================= */

#LogoPlate {
  /* cf. https://zellwk.com/blog/viewport-based-typography/ */
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 4);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 4);
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2vw;
  line-height: 1.75;
  word-spacing: -1vw;
  padding: 1vw 0;
  margin: 1vw 0;
  border: solid 1px #9B9B9B;
  border-image-source: url(../images/Logo_underbar.svg);
  border-image-width: 80vw;
  border-image-slice: 80;
}

/* ================================== */
/* Headline                           */
/* ================================== */

h2 {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 15);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 15);
  letter-spacing: 0.5vmin;
  line-height: 1;
  border: solid 10px #9B9B9B;
  border-image-source: url(../images/subLogo_underbar.svg);
  border-image-width: 150vmin;
  border-image-slice: 80;
  padding-left: 2%;
  margin-bottom: 3%;
}

/* ================================== */
/* Character                          */
/* ================================== */

p.langCode {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 60);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 60);
  letter-spacing: 0.1vw;
  line-height: 1.75;
  padding: 0 3%;
}

/* ================================== */
/* Responsive SVG                     */
/* ================================== */

* svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* ================================== */
/* Prohibited to copy                 */
/* ================================== */

.WrapperImg {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WrapperImg::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  background: transparent;
  width: 100%;
  height: 100%;
}

/*
.BlueWall {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  background:  transparent;
}
*/

/* ================================== */
/* Translate                          */
/* ================================== */

.Translate {
  display: block;
  position: absolute;
  top: -5vw;
  right: 2vw;
  width: 13vw;
  height: 7vw;
}

#Switch text {
  letter-spacing: 0.1rem;
}

/* ================================== */
/* Global Navigation Bar              */
/* ================================== */

#Wrapper_globalNav{
  z-index: 3;
}

.Global_nav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: initial;
  justify-content: space-around;
  width: 100%;
}

.Global_nav a {
  display: block;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 30);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 30);
  letter-spacing: 0.3vw;
  padding: 6%;
  color: #9B9B9B;
  background: rgba(255,255,255,0.10);
}

#current > a {
  box-shadow: 0 0.6vw 0 0 #9B9B9B;
  color: #737373;
}

.dropdownMenu {
  position: relative;
  text-align: center;
  width: calc(100% / 4);
  z-index: 3;
}

.dropdownMenu > a {
  border-right: solid 0.3vw #9B9B9B;
  border-radius: 2px;
}

.dropdownMenu a:hover {
  color: #737373;
  box-shadow: 0 0.6vw 0 0 #9B9B9B;
  transition: box-shadow 0.3s ease-out;
}

.dropdownMenu:first-child > a {
  border-left: solid 0.3vw #9B9B9B;
}

.list {
display: none;
position: absolute;
width: 100%;
}

.list > li > a {
  border-right: solid 0.3vw #9B9B9B;
  border-left: solid 0.3vw #9B9B9B;
  border-radius: 2px;
}

/* ================================== */
/* Sticky Bar                         */
/* ================================== */

.fixed {
  position: fixed;
}

#Wrapper_globalNav.fixed {
  width: 91%;
}

/* ================================== */
/* Smartphone Menu Button           */
/* ================================== */

.Menu_btn {
  position: fixed;
  top: 0.1vmin;
  right: 0.7vmin;
  /* display: none; */
}

/* ================================== */
/* Page Footer                        */
/* ================================== */

#pageFood {
  position: absolute;
  min-width: 100%;
  padding-bottom: 0.5%;
  right: 0;
  bottom: -6.5vw;
}

.Colophon {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-end;
}

.Host_on {
  align-self: flex-end;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  text-align: right;
}

.Host_on a {
  color: #9DBED5;
}

.Trademark {
  padding-left: 2vw;
}

.Sub-Logo {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  line-height: 0.5;
  text-align: left;
}

.copyright {
  white-space: nowrap;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  text-align: left;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 736px or less ====================> */

@media screen and (max-width:736px) {

/* ================================== */
/* The whole page                     */
/* ================================== */

#pageBody {
  margin: 11vmin auto 8vmin;
}

#pageMain {
  transform: none;
  opacity: 1;
}

/* ================================== */
/* Translate                          */
/* ================================== */

.Translate {
  top: -9vmin;
  right: 15vmin;
  width: 22vmin;
  height: 11vmin;
}

/* ================================== */
/* Global Navigation Bar              */
/* ================================== */

.Menu_btn {
display: block;
}

.Menu_btn a {
z-index: 1;
}

#Wrapper_globalNav {
  display: none;
}

.Global_nav {
display: none;
position: absolute;
flex-direction: column;
width: calc(100% * 0.94);
align-items: center;
}

.Global_nav a {
padding: 3%;
}


#current > a {
  box-shadow: none;
  background:  rgba(201, 201, 201, 0.50);
  color: #FCFCFC;
}


.dropdownMenu {
  position: relative;
  width: 100%;
}

.dropdownMenu > a {
  border-bottom: solid 1px rgba(115,115,115,0.50);
  border-right: none;
  box-shadow: none;
}

.dropdownMenu:first-child > a {
  border-top: solid 1px rgba(115, 115, 115, 0.50);
  border-left:none;
  box-shadow: none;
}

.dropdownMenu a:hover {
  box-shadow: none;
  transition: none;
  color: #9B9B9B;
}

.list {
display: none;
}

/* ================================== */
/* Sticky Bar                         */
/* ================================== */

#Wrapper_globalNav.fixed {
  width: 100%;
}

/* ================================== */
/* Smartphone Menu Button             */
/* ================================== */

#Horizontal {
  width: 14vmin;
  height: auto;
}

/* ================================== */
/* Page Footer                        */
/* ================================== */

#pageFood {
  bottom: -14vmin;
}

}
