@charset "UTF-8";
/* ====================================================== */
/* Gallery page CSS                                       */
/* ====================================================== */

/* ================================== */
/* Headline                           */
/* ================================== */

#PORTFOLIO {
  padding-top: 5%;
}

/* ================================== */
/* Modal window                       */
/* ================================== */

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.80);
  vertical-align: baseline;
  z-index: 3;
  opacity: 0;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
}

.show {
  display: flex;
  flex: initial;
  justify-content: center;
  align-items: center;
}

/* ================================== */
/* SVG                                */
/* ================================== */

.Screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100%;
  z-index: 4;
}

.Screen rect {
  fill: transparent;
  stroke: none;
}

.prev {
  position: absolute;
  left: 5%;
  bottom: 45%;
  height: 0;
  padding: 5%;
  z-index: 5;
}

.prev polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.prev circle {
  fill: rgba(255,255,255,0.60);
}

.next {
  position: absolute;
  right: 5%;
  bottom: 45%;
  height: 0;
  padding: 5%;
  z-index: 5;
}

.next polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next circle {
  fill: rgba(255,255,255,0.60);
}

.close {
  position: absolute;
  bottom: 8%;
  right: 2%;
  height: 0;
  padding: 3%;
  z-index: 5;
}

.close circle {
  fill: #C9C9C9;
}

.close line {
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  }

.close text {
  text-anchor: middle;
  fill: #C9C9C9;
}

/* ================================== */
/* Thumbnail                          */
/* ================================== */

.Gallery {
  display: flex;
  flex-flow: row wrap;
  flex: initial;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  align-content: center;
  margin-bottom: 20%;
}

.PicFrames  {
  margin: 5vmin 0;
  position: relative;
  /* padding: 100%; */
  box-sizing: border-box;
}

.PicFrames:first-child {
  flex: 0 1 100%;
}

.PicFrames:nth-child(2):nth-child(3) {
  flex: 0 1 50%;
}

.PicFrames:nth-child(5):nth-child(6) {
  flex: 0 1 50%;
}

.PicFrames:nth-child(8):nth-child(9) {
  flex: 0 1 50%;
}

.PicFrames:nth-child(4) {
  flex: 0 1 100%;
}

.PicFrames:nth-child(7) {
  flex: 0 1 100%;
}

.PicFrames:nth-child(10){
  flex: 0 1 100%;
}


.PicFrames:last-child {
  flex: 0 1 100%;
}

.PicFrames img {
  max-width: 100%;
  height: auto;
}

.caption {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 15);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 15);
  letter-spacing: 0.1vw;
  padding: 20% 2%;
  color: rgba(255,241,229,1.00);
  background:rgba(218,223,255,0.80);
  z-index: 2;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2vmin;
  right: 3vw;
  width: 10vw;
  height: auto;
}

#Arrow {
  display: none;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 736px or less ====================> */

@media screen and (max-width:736px) {

/* ================================== */
/* Thumbnail                          */
/* ================================== */

.PicFrames img {
  width: 30%;
}

/* ================================== */
/* SVG                                */
/* ================================== */

.prev {
  padding: 10%;
  bottom: 7%;
  left: 3%;
}

.next {
  padding: 10%;
  bottom: 7%;
  right: 3%;
}

.close {
  padding: 30px;
  top: 2%;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  width: 10vmax;
}

}
