@charset "UTF-8";
/* ====================================================== */
/* 404 Page's CSS == 404ページのCSS */
/* ====================================================== */

/* ================================== */
/* Whole  == ページ全体のデザイン */
/* ================================== */

body * {
  color: #9B9B9B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* h1, * h2, * h3, * p, * li, * a, * time, * small, * text {
  font-family: "Helvetica Neue", Arial, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  vertical-align: bottom;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#pageBody {
  display: flex;
  flex-flow: column nowrap;
  min-height: 98vh;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

::selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

/* ================================== */
/* == 404 MESSAGE == 404 メッセージ == */
/* ================================== */

#pageMain {
  display: flex; /* コンテンツを中央寄せにするために子要素にも必要 */
  flex: auto;
  justify-content: center;
  align-items: center;
}

.Number {
  text-align: center;
  align-cotent: center;
  font-size: 20vmin;
}

.Message {
  text-align: center;
  font-size: 10vmin;
}

.String {
  font-size: 3vmin;
  text-align: center;
}

/* ================================== */
 /* == BACK BUTTON == バックボタン == */
/* ================================== */

.Back-Btn {
  display:flex;
  justify-content: center;
}

.Btn-action {
   font-size: 3vmin;
   display: block;
   margin-top: 3vmin;
   padding: 3vmin 10vmin;
   background-color: #FFFFFF;
   text-align: center;
   border: solid 1px;
   border-radius: 2px;
}

/* ================================== */
/* == Page footer == ページフッター == */
/* ================================== */

#pageFood {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-end;
}

.Host_on {
  align-self: flex-end;
  font-size: 20px;
  text-align: right;
}

.Host_on a {
  color: #9DBED5;
}

.Trademark {
  padding: 0 2%;
}

.Sub-Logo {
  font-size: 20px;
  line-height: 0.3;
}

.copyright {
  white-space: nowrap;
  font-size: 20px;
  text-align: right;
}

#year {
  vertical-align: bottom;
}

/* ==================== Smartphone's UI == スマートフォン向けUI ====================> */

@media screen and (max-width:700px) {

/* ================================== */
/* == Page footer == ページフッター == */
/* ================================== */

#pageFood {
  padding-bottom: -5%;
}

.Host_on {
  font-size: 10px;
}

.Trademark {
  padding: 0 2%;
}

.Sub-Logo {
  font-size: 10px;
}

.copyright {
  font-size: 10px;
}


}
