@charset "UTF-8";
/* ====================================================== */
/* 404 Page's CSS                                         */
/* ====================================================== */

/* ================================== */
/* The whole page                     */
/* ================================== */

/* html {                                            */
/* font-size: 62.5%; /* set the base font to 10px */
/* }                                                 */

body * {
  color: #9B9B9B;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* footer下部固定に必要 */
}

#pageBody {
  display: flex;
  flex-flow: column nowrap;
}

* h1, * h2, * h3, * p, * li, * a, * time, * small, * text, #year {
  font-family: "Helvetica Neue", Arial, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  vertical-align: bottom;
  line-height: 1.2;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

::selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2px 2px 2px #737373;
}

/* ================================== */
/* 404 Message                        */
/* ================================== */

#pageMain {
  display: flex;
  flex: auto;
  justify-content: center;
  align-items: center;
}

.Number {
  text-align: center;
  align-cotent: center;
  font-size: 16vmin;
}

.Message {
  text-align: center;
  font-size: 8vmin;
}

.String {
  font-size: 6vmin;
  text-align: center;
}

/* ================================== */
/* Back button                        */
/* ================================== */

.Back-Btn {
  display:flex;
  justify-content: center;
}

.Btn-action {
  font-size: 3vmin;
  display: block;
  margin-top: 5vmin;
  padding: 3vmin 10vmin;
  background-color: #FFFFFF;
  text-align: center;
  border: solid 1px;
  border-radius: 2px;
}

/* ================================== */
/* Page Footer                        */
/* ================================== */

#pageFood {
  /* display: flex;             */
  /* flex-flow: row nowrap;     */
  /* flex: initial;             */
  /* justify-content: flex-end; */
  margin-bottom: 0.5%;
}

.Colophon {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-end;
}

.Host_on {
  align-self: flex-end;
  font-size: 3vmin;
  text-align: right;
}

.Host_on a {
  color: #9DBED5;
}

.Trademark {
  padding: 0 2%;
}

.Sub-Logo {
  font-size: 3vmin;
  line-height: 0.5vmin;
}

.copyright {
  white-space: nowrap;
  font-size: 3vmin;
  text-align: right;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 1400px or more ====================> */

@media screen and (min-width:1400px) {

}

/* ==================== When the screen size is 800px or less  ====================> */

@media screen and (max-width:800px) {

/* ================================== */
/* The whole page                     */
/* ================================== */


/* ================================== */
/* == Back button                     */
/* ================================== */


}

/* ==================== When the screen size is 600px or less ====================> */

@media screen and (max-width:600px) {

/* ================================== */
/* The whole page                     */
/* ================================== */


}
