@charset "UTF-8";
/* ====================================================== */
/* CSS for the Gallery page                               */
/* ====================================================== */

/* ================================== */
/* Headline                           */
/* ================================== */

#PORTFOLIO {
  padding-top: 5%;
}

/* ================================== */
/* Modal window                       */
/* ================================== */

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.80);
  vertical-align: baseline;
  z-index: 3;
  opacity: 0;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: center;
  perspective-origin: center;
}

.show {
  display: flex;
  flex: initial;
  justify-content: center;
  align-items: center;
}

/* ================================== */
/* SVG                                */
/* ================================== */

.Screen {
  position: fixed;
  top: 0;
  left: 0;
  padding: 100%;
  z-index: 4;
}

.Screen rect {
  fill: transparent;
  stroke: none;
}

.prev {
  position: absolute;
  left: 5%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}


.prev polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.prev circle {
  fill: rgba(255,255,255,0.60);
}

.next {
  position: absolute;
  right: 5%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}

.next polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next circle {
  fill: rgba(255,255,255,0.60);
}

.close {
  position: absolute;
  bottom: 8%;
  right: 2%;
  box-sizing: border-box;
  height: 0;
  padding: 3%;
  z-index: 5;
}

.close circle {
  fill: #C9C9C9;
}

.close line {
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
  }

.close text {
  text-anchor: middle;
  fill: #C9C9C9;
}

/* ================================== */
/* Thumbnail                          */
/* ================================== */

.Gallery {
  display: flex;
  flex-flow: row wrap;
  flex: initial;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin-bottom: 20%;
}

.PicFrames  {
  /* display: flex; */
  margin: 5vmin 0;
  flex: 0 1 30%;
  position: relative;
  /* justify-content: space-around; */
  /* align-content: space-around; */
  /* margin: 20px; */
  /* box-sizing: border-box; */
}

.PicFrames img {
  /* display: block; */
  max-width: 100%;
  height: auto;
  /* vertical-align: bottom; */
}

.caption {
  display: none;
  position: absolute;
  top: 0;
  left: -3%; /* ◀ 0だと意図せず右にずれるので */
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  padding: 20% 2%;
  color: rgba(255,241,229,1.00);
  background:rgba(218,223,255,0.80);
  box-sizing: border-box;
  z-index: 2;
  vertical-align: bottom;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2vmin;
  right: 3vw;
  width: 10vw;
  height: auto;
}

#Arrow {
  display: none;
}

/* ==================== Responsive Web Design ====================> */


/* ==================== When the screen size is 700px or less ====================> */

@media screen and (max-width:700px) {

/* ================================== */
/* Headline                           */
/* ================================== */

#PORTFOLIO {
  /* margin-top: 60px; */
  /* padding-top: 0; */
}


/* ================================== */
/* Thumbnail                          */
/* ================================== */

.PicFrames {
  /* display: flex; */
  flex: 0 1 30%;
  /* flex-wrap: wrap; */
}
/*
.PicFrames  img {
  height: 100%;
  width: 100%;
}
*/

/* ================================== */
/* SVG                                */
/* ================================== */

.prev {
  padding: 10%;
  bottom: 7%;
  left: 3%;
}

.next {
  padding: 10%;
  bottom: 7%;
  right: 3%;
}

.close {
  padding: 30px;
  top: 2%;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  width: 10vh;
}

}
