@charset "UTF-8";
/* ====================================================== */
/* CSS for the Main page                                  */
/* ====================================================== */

/* ================================== */
/* Headline                           */
/* ================================== */

#ABOUT {
  padding-top: 50px;
}

#INFORMATION {
  margin-top: -50px;
  padding-top: 50px;
}

/* ================================== */
/* Main contents                      */
/* ================================== */

.side_by_side {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: center;
  align-items: flex-start;
}

.Intro {
  flex-basis: 50%;
  flex-shrink: 1;
}

.Profile {
  max-width: 100%;
  height: auto;
  flex-basis: auto;
  flex-shrink: 1;
}

/* ================================== */
/* Slideshow                          */
/* ================================== */

.Slide {
  display: flex;
  flex: initial;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5%;
  line-height: 0; /* <img>要素の下に意図せずできる隙間を埋めています。*/
}

.MainImage img {
  max-width: 100%;
}

.MainImage {
  position: relative;
  overflow: hidden;
}

.MainImage > li {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s linear;
}

.MainImage > li.current {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.prev {
  position: absolute;
  left: 2%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}


.prev polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.prev circle {
  fill: rgba(255,255,255,0.60);
}

.next {
  position: absolute;
  right: 2%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}

.next polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next circle {
  fill: rgba(255,255,255,0.60);
}

/* ================================== */
/* Horizonal Tab                      */
/* ================================== */

.tabMenu {
  display: flex;
   flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

.tabMenu li a {
  display: block;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  font-size: 20px;
  padding-top: 7%;
  height: 50px;
  width: 150px;
  color: #9B9B9B;
  background: #FFF1E5;
}

.tabMenu li a:hover {
  display: block;
  box-sizing: border-box;
  color: #737373;
  background: #EED3BF;
  transition: .2s linear;
}

.tabMenu li.selected a {
  color: #737373;
  background: #EED3BF;
  }

/* ================================== */
/* Tab contents                       */
/* ================================== */

.tabContents {
  box-sizing: border-box;
  min-height: 500px;
  margin-bottom: 5%;
  background-color: #EED3BF;
}

.tabContents ul li {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.375;
  vertical-align: central;
  text-align: left;
  padding: 20px;
}

.tabContents ul li:nth-child(odd) {
  display: none;
}

.tabContents ul li:nth-child(4n) {
  background-color: #FFF1E5;
}


/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2%;
  right: 3%;
  width: 8%;
  height: auto;
}

#Arrow {
  display: none;
}


/* ==================== Responsive Web Design ====================> */


/* ==================== When the screen size is 600px or less ====================> */

@media screen and (max-width:600px) {

/* ================================== */
/* Headline                           */
/* ================================== */

#ABOUT, #INFORMATION {
  margin-top: 30px;
  padding-top: 0;
}

/* ================================== */
/* Slideshow                          */
/* ================================== */

.prev {
  padding: 5%;
  bottom: 45%;
  left: 3%;
}

.next {
  padding: 5%;
  bottom: 45%;
  right: 3%;
}


/* ================================== */
/* Horizonal Tab                      */
/* ================================== */

.tabMenu {
  padding-top: 20px;
}

.tabMenu li a {
  display: block;
  position: relative;
  font-size: 13px;
  height: 30px;
  width: 50px;
  color: #9B9B9B;
  background:#FFF1E5;
}

.tabMenu li a:hover {
  color: #9B9B9B;
  background: none;
  transition: none;
}

.tabMenu li.selected a {
  color: #737373;
  background: #EED3BF;
}

/* ================================== */
/* Tab contents                       */
/* ================================== */

.tabContents {
  min-height: 250px;
}

.tabContents ul li:nth-child(odd) {
  display: block;
  position: relative;
  text-align: center;
}

.tabContents ul li:nth-child(3n) {
  background-color: #FFF1E5;
}

.tabContents ul li {
  padding: 5px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.46;
}

.tabContents ul li time.Time {
  display: none;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  bottom: 30px;
  right: 10px;
  width: 50px;
}

}
