@charset "UTF-8";
/* ====================================================== */
/* The whole of a Website                                 */
/* ====================================================== */

/* ================================== */
/* The whole page                     */
/* ================================== */

/* html {                                       */
/* font-size: 62.5%; /* set the font to 10px */
/* }                                            */

body * {
  color: #737373;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pageBody {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: initial;
  justify-content: center;
  width: 95%;
  margin: 4vmin auto;
  padding: 0 2%;
  perspective-origin: top;
  background: repeating-linear-gradient(90deg, rgba(201, 201, 201, 1.00), rgba(201, 201, 201, 1.00) 3px, rgba(238,211,191,1.00) 3px, rgba(238,211,191,1.00) 23px, rgba(201, 201, 201, 1.00) 23px, rgba(201, 201, 201, 1.00) 26px, rgba(255,255,255,1.00) 26px, rgba(255, 255, 255, 1.00) 46px, rgba(201, 201, 201, 1.00) 46px, rgba(201, 201, 201, 1.00) 49px, rgba(238,211,191,1.00) 49px, rgba(238,211,191,1.00) 69px, rgba(201, 201, 201, 1.00) 69px, rgba(201, 201, 201, 1.00) 72px, rgba(255, 255, 255, 1.00) 72px, rgba(255, 255, 255, 1.00) 92px);
  border: solid 1px #9B9B9B; /* required as a dummy */
  border-image: url(../images/border.svg);
  border-image-slice: 21 fill;
  border-image-width: 32px;
  border-image-repeat: stretch;
  }

* h1, * h2, * h3, * p, * li, * a, * time, * small, * text, #year {
  font-family: "Helvetica Neue", Arial, "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: normal;
  vertical-align: bottom;
  line-height: 1.75;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* スマートフォンで画面をタップ時に出る影を無効化 */
}

* ul {
  list-style: none;
}

::-moz-selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2rem 2rem 2rem #737373;
}

::selection {
  background: transparent;
  color: #CCCCCC;
  text-shadow: 2rem 2rem 2rem #737373;
}

/* ================================== */
/* jQuery animation                   */
/* ================================== */

* .hidden, * .hidden01 {
  display: none;
}

 #pageMain { /* ▼この指定により ＃pageMain 要素以下の子要素に position:fixed; が効かなくなっています注意してください。▼ */
  transform: scale(0.95);
  transform-origin: top;
  transform-style: preserve-3d;
  opacity: 0;
  /* display: flex;           */
  /* flex: initial;           */
  /* justify-content: center; */
  /* align-items: center;     */
}

@keyframes fade-in {
  0% {transform: scale(0.95); opacity: 0;}
  100% {transform: scale(1); opacity: 1;}
}

@keyframes fade-out {
  0% {transform: scale(1); opacity: 1;}
  100% {transform: scale(0.95); opacity: 0;}
}

.fade-in {
  animation: fade-in 1s ease forwards ;
}

.fade-out {
  animation: fade-out 1s ease none;
}

/* ================================= */
/* Title of the Web site             */
/* ================================= */

#LogoPlate {
  font-size: 13vmin;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2vmin;
  word-spacing: -1vmin;
  padding: 1vmin 0;
  margin: 1vmin 0;
  border: solid 1px #9B9B9B;
  border-image-source: url(../images/Logo_underbar.svg);
  border-image-width: 80vmin;
  border-image-slice: 80;
}

/* ================================== */
/* Headline                           */
/* ================================== */

h2 {
  font-size: 5vmin;
  letter-spacing: 0.5vmin;
  border: solid 10px #9B9B9B;
  border-image-source: url(../images/subLogo_underbar.svg);
  border-image-width: 150vmin;
  border-image-slice: 80;
  padding-left: 5vmin;
  margin-bottom: 5vmin;
}

/* ================================== */
/* Character                          */
/* ================================== */

p.langCode {
  font-size: 3vmin;
  letter-spacing: 0.1vmin;
  margin: 1% 3%;
}

/* ================================== */
/* Responsive SVG                     */
/* ================================== */

* svg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* ================================== */
/* Prohibited to copy                 */
/* ================================== */

.WrapperImg {
  display: inline-block;
  position: relative;
}

.BlueWall {
  position: absolute;
  top: 0;
  left: 0;
  vertical-align: bottom;
  background:  transparent;/* rgba(149,246,255,0.55);◀ debug 用 color: Lightblue; */
}

* img {
  vertical-align: bottom;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -webkit-touch-callout: none;
}

/* ================================== */
/* Translate                          */
/* ================================== */

.Translate {
  display: block;
  position: absolute;
  top: -3.3em;
  right: 15px;
  width: 110px;
  height: auto;
}

#Switch text {
  letter-spacing: 2px;
}

/* ================================== */
/* Global Navigation Bar              */
/* ================================== */

#wrapper-globalNav {
  z-index: 3;
}

.globalNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: initial;
  justify-content: space-around;
  width: 100%;
}

.globalNav a {
  display: block;
  font-size: 3vmin;
  letter-spacing: 0.4rem;
  /* word-spacing: -4px; */
  padding: 6%;
  color: #9B9B9B;
  background: rgba(255,255,255,0.10);
}

#current > a {
  box-shadow: 0 6px 0 0 #9B9B9B;
  color: #737373;
}

.dropdownMenu {
  position: relative;
  text-align: center;
  width: 25%;
  z-index: 3;
}

.dropdownMenu > a {
  border-right: solid 2px #9B9B9B;
  border-radius: 2px;
}

.dropdownMenu a:hover {
  color: #737373;
  box-shadow: 0 6px 0 0 #9B9B9B;
  transition: box-shadow 0.3s ease-out;
}

.dropdownMenu:first-child > a {
  border-left: solid 2px #9B9B9B;
}

.list {
  display: none;
  position: absolute;
  width: 100%;
}

.list > li > a {
  border-right: solid 2px #9B9B9B;
  border-left: solid 2px #9B9B9B;
  border-radius: 2px;
}

/* ================================== */
/* Smartphone's Menu Button           */
/* ================================== */

#wrapper-globalNav .menuBtn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
}

#Horizontal {
  width: 46px;
}

/* ================================== */
/* Sticky Bar                         */
/* ================================== */

.fixed {
  position: fixed;
}

#wrapper-globalNav.fixed {
  width: 91%;
}

/* ================================== */
/* Page Footer                        */
/* ================================== */

#pageFood {
  position: absolute;
  height: 3em;
  width: 100%;
  right: 0;
  bottom: -3.5em;
  margin-bottom: 0.5%;
}

.Colophon {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-end;
}

.Host_on {
  align-self: flex-end;
  font-size: 3vmin;
  text-align: right;
}

.Host_on a {
  color: #9DBED5;
}

.Trademark {
  padding: 0 2%;
}

.Sub-Logo {
  font-size: 3vmin;
  line-height: 0.5vmin;
}

.copyright {
  white-space: nowrap;
  font-size: 3vmin;
  text-align: right;
}

/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 1400px or more ====================> */

@media screen and (min-width:1400px) {

}

/* ==================== When the screen size is 800px or less  ====================> */

@media screen and (max-width:800px) {

/* ================================== */
/* The whole page                     */
/* ================================== */


/* ================================== */
/* Back button                        */
/* ================================== */


}

/* ==================== When the screen size is 600px or less ====================> */

@media screen and (max-width:600px) {

/* ================================== */
/* The whole page                     */
/* ================================== */


}
/* ==================== Responsive Web Design ====================> */

/* ==================== When the screen size is 700px or less ====================> */

@media screen and (max-width:700px) {

/* ================================== */
/* The whole page                     */
/* ================================== */

#pageBody {
  width: 98%;
  border-image-width: 20px;
  margin: 3.3em auto;
}

#pageMain {
  transform: none;
  opacity: 1;
}

/* ================================= */
/* Title of the Web site             */
/* ================================= */

#LogoPlate {
  /* font-size: 2.5em; */
  /* line-heignt: 1.24; */
  /* letter-spacing: 3px; */
  /* word-spacing: -5px; */
  /* padding-top: 15px; */
}

/* ================================== */
/* Headline                           */
/* ================================== */

h2 {
  /* font-size: 15px;     */
  /* line-height: 1.4;    */
  /* letter-spacing: 4px; */
  border: solid 10px #9B9B9B;
  border-image-source: url(../images/subLogo_underbar.svg);
  border-image-width: 150px;
  border-image-slice: 80;
  /* padding-left: 10px; */
}

/* ================================== */
/* Character                          */
/* ================================== */

p.info {
  /* font-size: 13px;    */
  /* line-height: 1.5;   */
  /* padding-left: 10px; */
  /* border-image-slice: 70; */
}

 p.langCode {
  /* font-size: 14px;     */
  /* line-height: 1.42;   */
  /* letter-spacing: 2px; */
  /* word-spacing: -2px;  */
}

/* ================================== */
/* Translate                          */
/* ================================== */

.Translate {
  width: 70px;
  top: -2em;
  right: 55px;
}

/* ================================== */
/* Smartphone's Menu Button           */
/* ================================== */

#wrapper-globalNav .menuBtn {
    /* display: block; */
  display: flex;
}

#wrapper-globalNav .menuBtn a {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.globalNav {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 94%;
  align-items: center;
}

.globalNav a {
  padding: 3%;
}

#current > a {
  box-shadow: none;
  background:  rgba(201, 201, 201, 0.50);
  color: #fff;
}


.dropdownMenu {
  position: relative;
  width: 100%;
}

.dropdownMenu > a {
  border-bottom: solid 1px rgba(115,115,115,0.50);
  border-right: none;
  box-shadow: none;
}

.dropdownMenu:first-child > a {
  border-top: solid 1px rgba(115, 115, 115, 0.50);
  border-left:none;
  box-shadow: none;
}

.dropdownMenu a:hover {
  box-shadow: none;
  transition: none;
  color: #9B9B9B;
}

.list {
  display: none;
}

/* ================================== */
/* Sticky Bar                         */
/* ================================== */

#wrapper-globalNav.fixed {
  width: 100%;
}

/* ================================== */
/* Page Footer                        */
/* ================================== */

#pageFood {
  bottom: -3em;
  height: 2.5em;
}

.Sub-Logo {
  font-size: 16px;
  color: #9B9B9B;
  letter-spacing: 2px;
  word-spacing: -4px;
}

.copyright {
  font-size: 10px;
  line-height: 1.6;
}

 .copyright small {
  color: #9B9B9B;
  letterspacing: 2px;
  word-spacing: -4px;
}

}
