@charset "UTF-8";
/* ====================================================== */
/* Contact page CSS                                       */
/* ====================================================== */

#CONTACT {
  padding-top: 30px;
}

.Artboards {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================== */
/* Mail form                          */
/* ================================== */

#Mail {
  width: 70vmin;
  height: auto;
  margin: 2% auto 0;
}

#Mail text {
  letter-spacing: 2px;
  word-spacing: 1px;
}

/* ================================== */
/* Image files                        */
/* ================================== */

.Post_left {
display: flex;
justify-content: flex-end;
align-items: flex-end;
flex: initial;
}

.Post_left img {
  max-width: 40%;
  height: auto;
  margin-bottom: 20px;
}

/* ==================== Responsive Web Design ====================> */


/* ==================== When the screen size is 700px or less ====================> */

@media screen and (max-width:700px) {

#Mail {
  width: 50vmin;
  }

.Post_left img {
  max-width: 60%;
}

  }
