@charset "UTF-8";
/* ====================================================== */
/* CSS for the Main page                                  */
/* ====================================================== */

/* ================================== */
/* Headline                           */
/* ================================== */

#ABOUT {
  padding-top: 7%;
}

#INFORMATION {
  margin-top: -7%;
  padding-top: 7%;
}

/* ================================== */
/* Slideshow                          */
/* ================================== */

.Slide {
  display: flex;
  flex: initial;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5% 5% 0;
  line-height: 0; /* <img>要素の下に意図せずできる隙間を埋めています。*/
}

.MainImage img {
  max-width: 100%;
}

.MainImage {
  position: relative;
  overflow: hidden;
}

.MainImage > li {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s linear;
}

.MainImage > li.current {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.prev {
  position: absolute;
  left: 2%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}


.prev polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.prev circle {
  fill: rgba(255,255,255,0.60);
}

.next {
  position: absolute;
  right: 2%;
  bottom: 45%;
  box-sizing: border-box;
  height: 0;
  padding: 5%;
  z-index: 5;
}

.next polyline {
  fill: none;
  stroke: rgba(201, 201, 201, 0.60);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.next circle {
  fill: rgba(255,255,255,0.60);
}

/* ================================== */
/* Main contents                      */
/* ================================== */

.side_by_side {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: center;
  align-items: flex-start;
}

.Profile {
  /* max-width: 50%; */
  /* height: auto; */
  /* padding:0 5vw; */
}

/* ================================== */
/* Horizonal Tab                      */
/* ================================== */

.tabMenu {
  display: flex;
  flex-flow: row nowrap;
  flex: initial;
  justify-content: flex-start;
  align-items: flex-start;
}

.tabMenu li a {
  display: block;
  text-align: center;
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 80);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 80);
  padding: 2vmin 10vmin;
  color: #9B9B9B;
  background: #FFF1E5;
}

.tabMenu li a:hover {
  color: #737373;
  background: #EED3BF;
  transition: .2s linear;
}

.tabMenu li.selected a {
  color: #737373;
  background: #EED3BF;
  }

/* ================================== */
/* Tab contents                       */
/* ================================== */

.tabContents {
  min-height: 500px;
  margin-bottom: 8vmin;
  background-color: #EED3BF;
}

.tabContents ul li {
  font-size: calc(0.875em + 0.25 * (100 - 80em) / 60);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 800%) / 60);
  line-height: 1.75;
  vertical-align: central;
  text-align: left;
  padding: 6vmin 4vw;
}

.tabContents ul li:nth-child(odd) {
  display: none;
}

.tabContents ul li:nth-child(4n) {
  background-color: #FFF1E5;
}


/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  position: fixed;
  bottom: 2vmin;
  right: 3vw;
  width: 10vw;
  height: auto;
}

#Arrow {
  display: none;
}


/* ==================== Responsive Web Design ====================> */


/* ==================== When the screen size is 736px or less ====================> */

@media screen and (max-width:736px) {

/* ================================== */
/* Headline                           */
/* ================================== */

/*
#ABOUT, #INFORMATION {
  margin-top: 30px;
  padding-top: 0;
}
*/
#INFORMATION {
  margin-top: 0;
}

/* ================================== */
/* Main contents                      */
/* ================================== */

.side_by_side {
  flex-flow: column nowrap;
  align-items: center;
}

.Profile {
  /* max-width: 60%; */
  /* height: auto; */
  /* padding: 0 2%; */
}

/* ================================== */
/* Slideshow                          */
/* ================================== */

.prev {
  padding: 5%;
  bottom: 45%;
  left: 3%;
}

.next {
  padding: 5%;
  bottom: 45%;
  right: 3%;
}


/* ================================== */
/* Horizonal Tab                      */
/* ================================== */

.tabMenu {
  -webkit-tap-highlight-color: transparent;
}


.tabMenu li a:hover {
  color: #9B9B9B;
  background: none;
  transition: none;
}

.tabMenu li.selected a {
  color: #737373;
  background: #EED3BF;
}

/* ================================== */
/* Tab contents                       */
/* ================================== */

.tabContents {
  min-height: 250px;
}

.tabContents ul li:nth-child(odd) {
  text-align: center;
}

.tabContents ul li:nth-child(3n) {
  background-color: #FFF1E5;
}


.tabContents ul li time.Time {
  display: none;
}

/* ================================== */
/* Back to top Button                 */
/* ================================== */

.topBtn {
  width: 10vmax;
}

}
